@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin:0; padding:0;}


body{
background:rgb(209, 124, 235)

}

h1, h2,h3{
text-align:center;

}

.routine{
border-collapse:collapse;
text-align:center;
font-weight:bold;
margin:auto;

}

 h1{
font-weight:900;

}




.period :nth-child(1){

background:#333;
color:white;

}

.Time{

background:#fb5200;
color:white;

}

.days{

background:orange;
font-weight:800;

}


.GD{

background:green;
text-weight:800;
padding:0px 15px

}






.Math{

    background:rgb(89, 28, 28);
    color:white;

}

.SS{

    background:yellow;
    color:solid black;
    font-weight:bold;

}

.WD{

    background:brown;
    font-weight:900;
    padding:0px 20px;

}

.Chemistry{

background:rgb(12, 220, 227);
font-weight:900;

}


.IT{

background:rgb(39, 39, 190);
color:white;

}

.Programming{

background:red;
font-weight:bold;


}

.Block{

background:black;

}